/* Master Styles */

body {
    font-family: 'DotGothic16', sans-serif;
    margin: 0px;
    background-color:whitesmoke
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-shadow: 1px 1px 1px whitesmoke;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    backdrop-filter: blur(4px);
}

/* Nav styles */

.left-side {
    display: flex;
}

.right-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-wrapper > .right-side > div {
    font-size: xx-large;
}

.nav-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: grey; 
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Frontpage styles */

.frontpage-headline {
    display: flex;
    justify-content: center;
    color: black;
    margin: 20px;
}

.frontpage-text {
    display: flex;
    justify-content: center;
    color: black;
    margin: 20px;
}

/* Embedded/link styles */

.embedded-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.embedded-wrapper > div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.iframe-wrapper > h3 {
    display: flex;
    justify-content: center;
}

.instagram-embedded-wrapper {
    display: flex;
    justify-content: center;
}

/* Frontpage picture styles */

.frontpage-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 100px;
}

.frontpage-picture {
    position: relative;
}

.frontpage-picture-background {
    width: 100%;
    height: 500px;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}